HBox {
    -fx-background-color: #d4e1f4;
    -fx-font-family: 'Century Gothic';
}
VBox {
    -fx-background-color: #d4e1f4;
    -fx-font-family: 'Century Gothic';
}
AnchorPane {
    -fx-background-color: #d4e1f4;
    -fx-font-family: 'Century Gothic';
}